@font-face {
    font-family: "Vazir";
    src: url("../webfonts/Vazir.eot?") format("eot"), url("../webfonts/Vazir.woff") format("woff"), url("../webfonts/Vazir.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    src: local(Roboto Regular), url(../font/roboto/Roboto-Regular.eot);
    src: url(../font/roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../font/roboto/Roboto-Regular.woff2) format("woff2"), url(../font/roboto/Roboto-Regular.woff) format("woff"), url(../font/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: Roboto-M;
    src: url(../font/roboto/Roboto-Medium.eot);
    src: url(../font/roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../font/roboto/Roboto-Medium.woff2) format("woff2"), url(../font/roboto/Roboto-Medium.woff) format("woff"), url(../font/roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 500
}

body {
    font-family: Roboto, Vazir;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background: #e4e4e4 !important;
}

.tooltip {
    font-family: Vazir;
}

.header {
    margin-top: 10px;
    height: 100px;
}

.md-form label {
    right: 0;
}

.attention {
    color:#870000;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.md-pills li {
    padding: .6rem;
}

.pills-primary .nav-link.active {
    background-color: #4285f4 !important;
}

.md-pills .nav-link.active {
    color: #fff;
    background-color: #4285f4;
}

.md-pills .nav-link.active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.md-pills .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-align: center;
    background: #eaeaea;
    border-radius: 5px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}
